@media (min-width:1200px){

}
@media (min-width:992px) and
(max-width:1199.98px){
    .banner h1 {
        width: 560px;
        text-align: center;
        margin-left: 240px;
    }
    .banner p {
        text-align: center;
        margin-left: 280px;
    }
    .btn-logo {
        margin-left: 410px;
        margin-top: 20px;
    }
}
@media (min-width:768px) and
(max-width:991.98px){

}
@media (min-width:576px) and
(max-width:767.98px){

}
@media (max-width:575.98px){

}